/*-- scss:uses --*/

@use 'color-palette' as *;

/*-- scss:defaults --*/

$th-page-bg: $black !default;
$th-page-text: $white !default;

$th-h1-text: $white !default;
$th-h2-text: $teal !default;
$th-h3-text: $orange !default;

$th-code-block-bg: $gray-700 !default;

$th-button-copy: $white !default;
$th-button-copy-active: $red !default;
