/*-- scss:uses --*/

@use 'color-palette' as *;

/*-- scss:defaults --*/

//*******************************************************************
// Theme variables.
//*******************************************************************
$th-page-bg: $white !default;
$th-page-text: $black !default;

$th-navigation-bg: $blue !default;
$th-navigation-text: $white !default;

$th-heading-text: $blue !default;

//*******************************************************************
// Bootstrap's Sass variables.
//*******************************************************************
$body-bg: $th-page-bg !default;
$body-color: $th-page-text !default;

$link-color: $th-page-text !default;
$link-hover-color: $red !default;

$toc-color: $th-page-text !default;
$toc-active-border: $red !default;
$toc-inactive-border: $th-page-bg !default;

// Options.
$enable-rounded: true !default; // Softens tab corners.
$enable-shadows: true !default; // Turns on dropdown/submenu shadows.

/*-- scss:rules --*/

//*******************************************************************
// Anchor links.
//*******************************************************************
.anchorjs-link {
  background-color: lighten($red, 20%);
  color: $black;
  border-radius: 0.8rem;

  &:hover {
    background-color: lighten($red, 30%);
    color: $black;
    border-radius: 0.8rem;
  }
}

//*******************************************************************
// Navbar and Dropdowns(submenus).
//*******************************************************************
.navbar {
  background-color: $th-navigation-bg;
  color: $th-navigation-text;
  padding: 1.2rem 0; // Top & bottom = 1.2rem. Right & left = 0.
  
  .nav-link {
    background-color: inherit;
    color: inherit;  
    text-decoration: none; // No underline by default.
    
    &:hover {
      text-decoration: underline $th-navigation-text solid 0.1rem;
    }

    &.active {
      color: $th-navigation-text;
      text-decoration: underline $th-navigation-text solid 0.1rem;
    }    
  }

  .dropdown-menu {
    background-color: $white;
    color: $black;
    border: 0.2rem solid $white;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem $gray-400;
    display: none; // Do not display dropdown on click.
  }
 
  .dropdown-item {
    background-color: $white;
    color: $black;
    padding: 0.5rem 1.5rem;

    &:hover {
      background-color: $th-navigation-bg;
      color: $th-navigation-text;
      border-radius: 0.2rem;
    }
  }

  .dropdown:hover {
    .dropdown-menu {
      display: block; // Display dropdown on hover.
    }  
  }    
}

//*******************************************************************
// Sidebar.
//*******************************************************************
.sidebar {
  background-color: $th-page-bg;
  color: $th-page-text;
  
  a {
    background-color: inherit;
    color: inherit;
    padding: 0.3rem;

    &.active {
      border: 0.15rem solid $red;
      border-radius: 0.8rem;
    }    

    &:hover {
      font-weight: 600;
    }
  }
}

//*******************************************************************
// Tables.
//*******************************************************************
.table {
  border: 0.1rem solid $gray-400;
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: 0.1rem solid $gray-400;
  }

  th {
    background-color: darken($blue, 20%);
    color: $white;
    font-weight: 500;
  }

  td {
    // Note : Do not set a background color for td because it will override the zebra stripes below!
    color: $black;
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $white;
      }
      
      &:nth-child(even) {
        background-color: $gray-100;
      }

      &:hover {
        background-color: lighten($yellow, 20%) !important; // Ensure hover color takes precedence.
      }
    }
  }
}

//*******************************************************************
// Headings.
//*******************************************************************
h1, h2 {
  color: $th-heading-text;
  border-bottom: none !important;
}

//*******************************************************************
// Footer.
//*******************************************************************
.footer {
  .nav-footer {
    background-color: $th-navigation-bg;
    color: $th-navigation-text;

    a {
      background-color: inherit;
      color: inherit;
    }
  }
}

//*******************************************************************
// Callouts.
//*******************************************************************
.callout {
  background-color: $gray-100;
  color: $black;
  border-left-width: 1.0rem !important;
  
  .callout-header {
    margin-bottom: 1.0rem !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
  }

  .callout-body {
    line-height: 2.0rem !important;
  }
}

//*******************************************************************
// Code blocks.
//*******************************************************************
.sourceCode {
  background-color: transparent; 
  padding: 0.4rem;
  border: none !important;
  box-shadow: none !important;
}

//*******************************************************************
// Tabs.
//*******************************************************************
.panel-tabset {
  background-color: $white;
  color: $black;

  .nav-tabs {
    background-color: darken($blue, 20%);
    border: 0.1rem solid $gray-400;

    .nav-link {
      background-color: darken($blue, 20%);
      color: $white;
      border: none;
      border-right: 0.1rem solid $gray-400;
      //border-radius: 0.4rem 0.2rem 0 0;

      &:hover {
        background-color: lighten($blue, 10%);
        color: $white;
      }

      &.active {
        background-color: $white;
        color: $black;
      }
    }
  }
}

//*******************************************************************
// Buttons.
//*******************************************************************
.btn {
  $bg: $yellow;

  background-color: $bg;
  color: $black;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.0rem;
  font-weight: 400;
  padding: 0.5rem 1.0rem;
  text-align: center;
  transition: $bg 0.2s ease-in-out;

  // 3D effect.
  box-shadow: 2px 4px 0 darken($bg, 20%);
  
  &:hover {
    background-color: lighten($bg, 20%);
    color: $black;
    transform: translateY(-2px); // Lift the button slightly.
  }
}
