/*-- scss:uses --*/

@use 'color-palette' as *;

/*-- scss:defaults --*/

//*******************************************************************
// Theme variables.
//*******************************************************************
$th-page-bg: $white !default;
$th-page-text: $black !default;

$th-anchor-link-bg: $yellow !default;
$th-anchor-link-text: $black !default;
$th-anchor-link-hover-bg: lighten($yellow, 20%) !default;
$th-anchor-link-hover-text: $black !default;

$th-page-link-bg: $white !default;
$th-page-link-text: $black !default;
$th-page-link-hover-bg: lighten($yellow, 20%) !default;
$th-page-link-hover-text: $black !default;

$th-navbar-bg: $blue !default;
$th-navbar-text: $white !default;

$th-dropdown-bg: $white !default;
$th-dropdown-text: $black !default;
$th-dropdown-hover-bg: $blue !default;
$th-dropdown-hover-text: $white !default;
$th-dropdown-border: 0.2rem solid $white !default;
$th-dropdown-shadow: 0.2rem 0.2rem 0.4rem $gray-400 !default;

$th-sidebar-bg: $white !default;
$th-sidebar-text: $black !default;
$th-sidebar-hover-bg: lighten($blue, 40%) !default;
$th-sidebar-hover-text: $black !default;

$th-table-header-bg: darken($blue, 20%) !default;
$th-table-header-text: $white !default;
$th-table-row-bg: $white !default;
$th-table-row-text: $black !default;
$th-table-zebra-bg: $gray-100 !default;
$th-table-hover-bg: lighten($yellow, 20%) !default;

$th-tabs-bg: darken($blue, 20%) !default;

$th-border: 0.1rem solid $gray-400 !default;

$th-link-hover-text: $red !default;

$th-heading-text: $blue !default;

$th-footer-bg: $blue !default;
$th-footer-text: $white !default;

//*******************************************************************
// Bootstrap's Sass variables.
// Assign theme variables only.
//*******************************************************************

// TOC.
$toc-color: $th-sidebar-text !default;
$toc-active-border: $th-sidebar-bg !default;
$toc-inactive-border: $th-sidebar-bg !default;

// Options.
$enable-rounded: true !default; // Softens tab corners.
$enable-shadows: true !default; // Turns on dropdown/submenu shadows.

/*-- scss:rules --*/

//*******************************************************************
// Page content.
//*******************************************************************
.content {
  background-color: $th-page-bg;
  color: $th-page-text;

  // Somehow, this anchor affects the tabs.
  //a {
  //  background-color: $th-anchor-link-bg;
  //  color: $th-page-link-text;
  //}
}

//*******************************************************************
// Page navigation.
//*******************************************************************
.nav-page-text {
  background-color: $th-page-link-bg;
  color: $th-page-link-text;

  &:hover {
    background-color: $th-page-link-hover-bg;
    color: $th-page-link-hover-text;
    border-radius: 0.2rem;
  }
}

//*******************************************************************
// Anchor links.
//*******************************************************************
.anchorjs-link {
  background-color: $th-anchor-link-bg;
  color: $th-anchor-link-text;
  border-radius: 0.8rem;

  &:hover {
    background-color: $th-anchor-link-hover-bg;
    color: $th-anchor-link-text;
    border-radius: 0.8rem;
  }
}

//*******************************************************************
// Navbar and Dropdowns(submenus).
//*******************************************************************
.navbar {
  background-color: $th-navbar-bg;
  color: $th-navbar-text;
  padding: 1.2rem 0; // Top & bottom = 1.2rem. Right & left = 0.
  
  .nav-link {
    background-color: inherit;
    color: inherit;  
    text-decoration: none; // No underline by default.
    
    &:hover {
      text-decoration: underline $th-navbar-text solid 0.1rem;
    }

    &.active {
      color: $th-navbar-text;
      text-decoration: underline $th-navbar-text solid 0.1rem;
    }    
  }

  .dropdown-menu {
    background-color: $th-dropdown-bg;
    color: $th-dropdown-hover-text;
    border: $th-dropdown-border;
    border-radius: 0.2rem;
    box-shadow: $th-dropdown-shadow;
    display: none; // Do not display dropdown on click.
  }
 
  .dropdown-item {
    background-color: $th-dropdown-bg;
    color: $th-dropdown-text;
    padding: 0.5rem 1.5rem;

    &:hover {
      background-color: $th-dropdown-hover-bg;
      color: $th-dropdown-hover-text;
      border-radius: 0.2rem;
    }
  }

  .dropdown:hover {
    .dropdown-menu {
      display: block; // Display dropdown on hover.
    }  
  }    
}

//*******************************************************************
// Sidebar.
//*******************************************************************
.sidebar {
  background-color: $th-sidebar-bg;
  color: $th-sidebar-text;
  
  a {
    background-color: inherit;
    color: inherit;
    padding: 0.3rem;

    &.active {
      background-color: $th-sidebar-hover-bg;
      color: $th-sidebar-hover-text;
      border-radius: 0.2rem;
    }    

    &:hover {
      background-color: $th-sidebar-hover-bg;
      color: $th-sidebar-hover-text;
      border-radius: 0.2rem;
    }
  }
}

//*******************************************************************
// Tables.
//*******************************************************************
.table {
  border: $th-border;
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: $th-border;
  }

  th {
    background-color: $th-table-header-bg;
    color: $th-table-header-text;
    font-weight: 500;
  }

  td {
    // Note : Do not set a background color for td because it will override the zebra stripes below!
    color: $th-table-row-text;
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $th-table-row-bg;
      }
      
      &:nth-child(even) {
        background-color: $th-table-zebra-bg;
      }

      &:hover {
        background-color: $th-table-hover-bg !important; // Ensure hover color takes precedence.
      }
    }
  }
}

//*******************************************************************
// Headings.
//*******************************************************************
h1, h2 {
  color: $th-heading-text;
  border-bottom: none !important;
}

//*******************************************************************
// Footer.
//*******************************************************************
.footer {
  .nav-footer {
    background-color: $th-footer-bg;
    color: $th-footer-text;

    a {
      background-color: inherit;
      color: inherit;
    }
  }
}

//*******************************************************************
// Callouts.
//*******************************************************************
.callout {
  border-left-width: 1.0rem !important;
}

//*******************************************************************
// Code blocks.
//*******************************************************************
.sourceCode {
  background-color: transparent; 
  padding: 0.4rem;
  border: none !important;
  box-shadow: none !important;
}

//*******************************************************************
// Tabs.
//*******************************************************************
.panel-tabset {
  .nav-tabs {
    background-color: $th-tabs-bg;
    border: $th-border;

    .nav-link {
      background-color: $th-tabs-bg;
      color: $white;
      border: none;
      border-right: $th-border;
      border-radius: 0.4rem 0.2rem 0 0;

      &:hover {
        background-color: lighten($blue, 10%);
        color: $white;
      }

      &.active {
        background-color: $white;
        color: $black;
      }
    }
  }
}
